extends layout
block content

  div.container.pb-4
    div.box
      h4.title.is-4 Address
      <!-- Full -->
      div.columns.is-multiline.is-mobile
        <!-- Left -->
        div.column.is-half-desktop.is-full-mobile
          <!-- Rows -->
          div.columns.is-mobile.is-multiline
            <!-- Row -->
            div.column.is-full.bottom-border
              div.columns.is-mobile
                div.column.is-half-desktop.is-narrow-mobile
                  p.has-text-weight-bold Hash
                div.column.is-half-desktop
                  span.text-overflow-dynamic-container
                    span.text-overflow-dynamic-ellipsis.has-text-right
                      p#addressHash
            <!-- Row -->
            div.column.is-full.bottom-border
              div.columns.is-mobile
                div.column.is-half-desktop.is-narrow-mobile
                  p.has-text-weight-bold Label
                div.column.is-half-desktop
                  p#addressLabel.has-text-right
            <!-- Row -->
            div.column.is-full.bottom-border
              div.columns.is-mobile
                div.column.is-half-desktop.is-narrow-mobile
                  p.has-text-weight-bold Balance
                div.column.is-half-desktop
                  p#addressBalance.has-text-right


        <!-- Right -->
        div.column.is-half-desktop.is-full-mobile
          <!-- Rows -->
          div.columns.is-mobile.is-multiline
            <!-- Row -->
            div.column.is-full.bottom-border
              div.columns.is-mobile
                div.column.is-half-desktop.is-narrow-mobile
                  p.has-text-weight-bold Transactions
                div.column.is-half-desktop
                  p#addressTransactions.has-text-right

            <!-- Row -->
            div.column.is-full.bottom-border
              div.columns.is-mobile
                div.column.is-half-desktop.is-narrow-mobile
                  p.has-text-weight-bold Inputs
                div.column.is-half-desktop
                  p#addressInputs.has-text-right
            <!-- Row -->
            div.column.is-full.bottom-border
              div.columns.is-mobile
                div.column.is-half-desktop.is-narrow-mobile
                  p.has-text-weight-bold Outputs
                div.column.is-half-desktop
                  p#addressOutputs.has-text-right
      
      <!-- Transactions -->
      h4.title.is-4.mt-4 Transactions
      div.table-container
        table#addressTransactionsTable.table.is-striped.is-hoverable.is-fullwidth
          thead
            tr
              th.has-text-left Transaction
              th.has-text-right Block
              th.has-text-right Time
              th.has-text-right Amount (#{process.env.COIN_SYMBOL})
          tbody